<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include="head.html"}
	 <link rel="stylesheet" href="skin/css/index.css">
	 <script src="skin/js/index.js"></script>
</head>
<body>
{include="nav_index.html"}

<div class="video">
    <div class="container">
    <div class="box">
         <video id="media0" controls="controls"  width="860px" height="485px" poster="skin/img/video1.png">
          <source src="box/pc_video.MP4" type="video/mp4">
            Your browser does not support the video tag.
         </video>
     </div>  
    </div>
</div>
<div class="index-about">
    <div class="container">
       <div class="head">
        <h2>About Us</h2>
       </div>
       <div class="index-about-content">
        <p>Entering Bill Gate’s villa, the information on the surroundings you like will be automatically detected and stored through a unique brooch given to you. When you walk into a room, the Central Control System will adjust the temperature, humidity, light, etc. to allow you to be comfortable. Besides, you can also appreciate the music and paintings you are fond of.</p>
        <p>Inside the bathroom, there is an intelligent toilet monitoring your vital signs. Once the early warning scores are beyond the normal range, it will sound the alarm.</p>
        <p>Gate’s house is like this - A residence fully embodies scientific concepts, in which even the only tree is watered through sensors.</p>
        <p>Do you find the amazing Smart Home too faraway?</p>
        <p>In the era of high-tech today, even ordinary people are accessible to this kind of convenient domestic life. Oubao adheres to the customer-oriented concept, endeavoring to research and develop high-tech products. Innovative spirit and humanistic care are embedded in each of our products and solutions to simplify your life, and to enable you to experience the wisdom and fashion of elegant, comfortable, inviting and romantic smart home.</p>
        <p>At the touch of a humanized application, you will enjoy the marvelous O-Home.</p>
        <!--<div class="smart-home">-->
			<p>Intimately, Smart Home takes you to enjoy a cozy life;</p>
			<p>Intelligently, Smart Home takes you to relish a stylish life;</p>
			<p>Professionally, Smart Home takes you to experience a high-quality life.</p>
		<!--</div>-->
      </div>
    </div>
</div>
{include="footer.html"}
</body>
</html>