<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台管理</title>
<link rel="stylesheet" href="__PUBLIC__/resource/common/css/base.css" >
<link rel="stylesheet" href="__PUBLIC__/resource/common/css/user.css">
<link rel="shortcut icon" href="__PUBLIC__/resource/common/images/favicon.ico" type="image/x-icon" />
</head>

<body>
<!--header-->
<include file="Public:header" />
<!--end header--> 
<!--main-->
<div id="wp" class="wp"><link href="__PUBLIC__/user/css/style.css" rel="stylesheet" type="text/css" />
 <div class="contentmanage">
    <div class="developer">
       <div class="appTitle normalTitle" style="padding: 20px;">
        <h2>管理平台</h2>
        <div class="accountInfo">
        
        </div>
        <div class="clr"></div>
      </div>
      <div class="tableContent">
        <!--左侧功能菜单-->
        <div class="sideBar">
          <div class="catalogList">
            <ul>
				<li class="subCatalogList" > <a href="__APP__/User/">我的成员</a></li>
				<li class=" subCatalogList "> <a href="__APP__/User/add/">添加成员</a> </li>
				<li class=" selected "> <a href="__APP__/Machinery/">我的设备</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/Machinery/add/">添加设备</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/Type/">我的模式</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/Type/add/">添加模式</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/Time/">我的时间</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/Time/add/">添加时间</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/User/useredit/">我的资料</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/User/pwd/">修改密码</a> </li>
				<li class=" subCatalogList "> <a href="__APP__/User/out/">退出管理</a> </li>
            </ul>
          </div>
        </div>

<div class="content">

          <div class="msgWrap">
            <TABLE class="ListProduct" border="0" cellSpacing="0" cellPadding="0" width="100%">
              <THEAD>
                <TR>
                  <TH>设备名称</TH>
				  <TH>设备位置</TH>
				  <TH>设备IP</TH>
				  <TH>设备MAC</TH>
				  <TH>设备模式</TH>
                  <TH width="20%">操作</TH>
                </TR>
              </THEAD>
              <TBODY>
                <TR></TR>
                <volist name="mymachinery" id="vo" >
                 <TR>
                  <TD><p>{$vo.wName}</p></TD>
				   <TD><p>{$vo.wplace}</p></TD>
				   <TD><p>{$vo.wIP}</p></TD>
				   <TD><p>{$vo.wMAC}</p></TD>
				   <TD><p>{$vo.wType}</p></TD>
                  <TD class="norightborder">
				  <a href="__URL__/edit/id/{$vo.m_id}" class="btnGreens" >编辑设备</a>
				  <a href="__URL__/del/id/{$vo.m_id}" class="btnGreens" >删除设备</a>
				  </TD>
                </TR>
				</volist>
              </TBODY>
            </TABLE>
            
          </div>
          
          <div class="cLine">
            <div class="pageNavigator right">
              <div class="pages"></div>
            </div>
            <div class="clr"></div>
          </div>
        </div>
        
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <!--底部-->
  	</div>
<!--end main--> 
<!--footer-->
<include file="Public:footer" />
<!--end footer--> 
</body>
</html>
