<li class="subCatalogList" > <a href="__APP__/User/">我的成员</a></li>
<li class=" subCatalogList "> <a href="__APP__/User/add/">添加成员</a> </li>
<li class=" subCatalogList "> <a href="__APP__/Machinery/">我的设备</a> </li>
<li <eq name="ACTION_NAME" value="add">class="selected"<else />class=" subCatalogList "</eq>> <a href="__APP__/User/useredit/"> <a href="__APP__/Machinery/add/">添加设备</a> </li>
<li <eq name="ACTION_NAME" value="useredit">class="selected"<else />class=" subCatalogList "</eq>> <a href="__APP__/User/useredit/">修改密码</a> </li>