<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
<script type="text/javascript">
var _width = parseInt(window.screen.width);
var scale = _width/640;
var ua = navigator.userAgent.toLowerCase();
var result = /android (\d+\.\d+)/.exec(ua);
if (result){
var version = parseFloat(result[1]);
if(version>2.3){
document.write('<meta name="viewport" content="width=640, minimum-scale = '+scale+', maximum-scale = '+scale+', target-densitydpi=device-dpi">');
}else{
document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
}
} else {
document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
}
</script>
<title>{$Think.lang.Re_pw}</title>
<link rel="stylesheet" href="__PUBLIC__/wap/css/css_wap2.css" >
<link rel="stylesheet" href="__PUBLIC__/resource/common/js/validform/style.css" >
<link rel="shortcut icon" href="__PUBLIC__/resource/common/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<!--header-->
<include file="Public:top2" />
<!--end header--> 
<!--main-->
<div class="con_index">
	<div class="mainpage">
        <div class="getkey_con" style="display:block;">
            <div class="jc">
                <div class="pa1">{$Think.lang.Find_pw}</div>
                <div class=" pa1">{$Think.lang.Identity}</div>
                <div class="pa1_a">{$Think.lang.Re_pw} 》</div>
            </div>
            
            <div class="c2">
                <form method="post" action="__APP__/Lostpassword/complete/" class="pw_form">
                <div class="c1">
                    <div class="t_">{$Think.lang.Set_newpw}：</div>
                    <div class="s_2 Validform_checktip"></div>
                    <input type="password" class="inp4"  id="password" name="password" datatype="*6-16" sucmsg="{$Think.lang.Crepass}"    nullmsg="{$Think.lang.Cpass_n}" errormsg="{$Think.lang.Cpass_e}">
                    <input type="hidden" name="wPassWord" id="wPassWord">
                </div>
                
                <div class="c1">
                    <div class="t_">{$Think.lang.Sure_newpw}：</div>
                    <div class="s_2 Validform_checktip"></div>
                    <input type="password" class="inp4"  id="password2" name="password2"  recheck="password" datatype="*6-16"  sucmsg="{$Think.lang.Crepass}" errormsg="{$Think.lang.Cpass_c}"  nullmsg="{$Think.lang.Cpass_n}">
                    <input type="hidden" name="pwd" id="pwd">
                </div>
                <input type="submit" id="u_btn_blue" class="btn1" value="{$Think.lang.Complete}">
                </form>
            </div>
        </div> 
	</div>
</div>

<!--end main--> 
<!--footer-->
<include file="Public:footer" />
<script language="JavaScript" type="text/javascript" src="__PUBLIC__/resource/js/jsbn.js"></script>
<script language="JavaScript" type="text/javascript" src="__PUBLIC__/resource/js/prng4.js"></script>
<script language="JavaScript" type="text/javascript" src="__PUBLIC__/resource/js/rng.js"></script>
<script language="JavaScript" type="text/javascript" src="__PUBLIC__/resource/js/rsa.js"></script>
<script language="JavaScript" type="text/javascript" src="__PUBLIC__/resource/js/base64.js"></script>
<script language="JavaScript" type="text/javascript" src="__PUBLIC__/resource/js/md5.js"></script>
<script language="JavaScript"> 
//publc key  and public length 16 binary data
var public_key="{$Think.config.public_key}";
var public_length="{$Think.config.public_length}";
function do_encrypt() {
  var before = new Date();
  var rsa = new RSAKey();
  rsa.setPublic(public_key, public_length);
  document.getElementById("wPassWord").value = hex_md5(document.getElementById("password").value);
  document.getElementById("password").value ='';
  document.getElementById("pwd").value = hex_md5(document.getElementById("password2").value);
  document.getElementById("password2").value ='';
}

//-->
</script>
<script src="__PUBLIC__/resource/common/js/Validform.js"></script>
<script type="text/javascript">
$(function(){
var demo=$(".pw_form").Validform({
		tiptype:3,
		label:".label",
		showAllError:false,
		datatype:{
			"zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
		},
		beforeSubmit:do_encrypt,
		ajaxPost:false
	});
})
</script>
<!--end footer--> 
</body>
</html>