<div style="clear:both"></div>
<div class="footer-top">
	<div class="container">
        <div class="col-xs-8" style="text-align:center !important;">
        	<eq name="langue" value="cn">
            <ul>
                <li><a class="main-a" href="http://HOST_URL/index.php?c=article&a=type&tid=24">{$Think.lang.Solution}</a>
                    <ul class="child-ul">
                        <li><a href="#">{$Think.lang.Smart_Home}</a></li>
                        <li><a href="#">{$Think.lang.Smart_Hotel}</a></li>
                        <li><a href="#">{$Think.lang.Smart_Office}</a></li>
                        <li><a href="#">{$Think.lang.Smart_Community}</a></li>
                    </ul>
                </li>
                <li><a class="main-a" href="http://HOST_URL/index.php?c=product&a=type&tid=25">{$Think.lang.Download}</a>
                    <ul class="child-ul">
                        <li><a href="#">IOS</a></li>
                        <li><a href="#">{$Think.lang.ANDROID}</a></li>
                    </ul>
                </li>
                <li><a class="main-a" href="http://HOST_URL/index.php?c=article&a=type&tid=26">{$Think.lang.Join_Us}</a>
                    <ul class="child-ul">
                        <li><a href="#">{$Think.lang.Requirements}</a></li>
                        <li><a href="#">{$Think.lang.Message}</a></li>
                    </ul>
                </li>
                <li><a class="main-a" href="http://HOST_URL/index.php?c=article&a=type&tid=27">{$Think.lang.About_Us}</a>
                    <ul class="child-ul">
                        <li><a href="javascript:void(0);">{$Think.lang.Company_Profile}</a></li>
                        <li class="top" style="display:block;"><a href="javascript:void(0)" >{$Think.lang.SERVICE}</a></li>
                    </ul>
                </li>
            </ul>
			<else/>
				  <ul>
	                <li><a class="main-a" href="http://HOST_ENURL/index.php?c=article&a=type&tid=24">{$Think.lang.Solution}</a>
	                    <ul class="child-ul">
	                        <li><a href="#">{$Think.lang.Smart_Home}</a></li>
	                        <li><a href="#">{$Think.lang.Smart_Hotel}</a></li>
	                        <li><a href="#">{$Think.lang.Smart_Office}</a></li>
	                        <li><a href="#">{$Think.lang.Smart_Community}</a></li>
	                    </ul>
	                </li>
	                <li><a class="main-a" href="http://HOST_ENURL/index.php?c=product&a=type&tid=25">{$Think.lang.Download}</a>
	                    <ul class="child-ul">
	                        <li><a href="#">IOS</a></li>
	                        <li><a href="#">{$Think.lang.ANDROID}</a></li>
	                    </ul>
	                </li>
	                <li><a class="main-a" href="http://HOST_ENURL/index.php?c=article&a=type&tid=26">{$Think.lang.Join_Us}</a>
	                    <ul class="child-ul">
	                        <li><a href="#">{$Think.lang.Requirements}</a></li>
	                        <li><a href="#">{$Think.lang.Message}</a></li>
	                    </ul>
	                </li>
	                <li><a class="main-a" href="http://HOST_ENURL/index.php?c=article&a=type&tid=27">{$Think.lang.About_Us}</a>
	                    <ul class="child-ul">
	                        <li><a href="javascript:void(0);">{$Think.lang.Company_Profile}</a></li>
	                        <li class="top" style="display:block;"><a href="javascript:void(0)" >{$Think.lang.SERVICE}</a></li>
	                    </ul>
	                </li>
	            </ul>
			</eq>
        </div>
		<div class="col-xs-4 tonline">
        	<div class="footer-btn">
	            <button type="button" class="btn btn-danger">
	                	{$Think.lang.service_hotline}
	            </button>
			</div>
            <h1 style="color:#060001;">0755-23016026</h1>
            <p>{$Think.lang.WORK_TIME}</p>
        </div>
    </div>
</div>
<footer id="footer">
	<div class="container">
		<p style="color:#343434;">{$Think.lang.Company}</p>
		<p style="color:#a4a5a6 !important;">{$Think.lang.Company_S} © {$Think.lang.All_Reserved} {$Think.lang.Copy} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {$Think.lang.Adress}</p>
	</div>
</footer>



<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
	// //设置垂直居中
	// $('.carousel-control').css('line-height', $('.carousel-inner img').height() + 'px');
	// $(window).resize(function () {
	// 	var $height = $('.carousel-inner img').eq(0).height() || 
	// 				  $('.carousel-inner img').eq(1).height() || 
	// 				  $('.carousel-inner img').eq(2).height();
	// 	$('.carousel-control').css('line-height', $height + 'px');
	// });

	//设置文字垂直居中，谷歌浏览器加载图片的顺序问题，导致高度无法获取
	$(window).load(function () {
		$('.text').eq(0).css('margin-top', ($('.auto').eq(0).height() - $('.text').eq(0).height()) / 2 + 'px');
	});
	

	$(window).resize(function () {
		$('.text').eq(0).css('margin-top', ($('.auto').eq(0).height() - $('.text').eq(0).height()) / 2 + 'px');
	});

	$(window).load(function () {
		$('.text').eq(1).css('margin-top', ($('.auto').eq(1).height() - $('.text').eq(1).height()) / 2 + 'px');
	});

	$(window).resize(function () {
		$('.text').eq(1).css('margin-top', ($('.auto').eq(1).height() - $('.text').eq(1).height()) / 2 + 'px');
	});

</script>