<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$type['title']}-{$GLOBALS['S']['title']}</title>
<meta name="keywords" content="{$type['keywords']} " />
<meta name="description" content="{$type['description']} " />
<link rel="stylesheet" type="text/css" href="/skin/css/typo.css"/>
<link rel="stylesheet" type="text/css" href="/skin/css/frame.css"/>
<link rel="shortcut icon" href="/skin/img/favicon.ico" type="image/x-icon" />
<!--[if lte IE 8]> 
<script src="/skin/js/ie.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/skin/css/ie.css"/>
 <![endif]-->
<script src="/skin/js/jquery1.42.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
{include="head.html"}
 <div class="container">
<div class="wapper">
	      <img class="catoheaderpic" src="/skin/img/news_header.jpg"/>
	    	<h2>{$type['classname']}<br /><span>LATEST NEWS</span></h2>
        <p id="crumb"><a href="/">Home</a> > {$type['classname']}</p>
        <div class="newslist">
        	<!--<ul class="newstab">
        		<li class="allnews {if($type['tid']==34)} on{/if}">{loop table="classtype" tid="34"}<a href="{$v['url']}" style="color:#000000"></a>All News{/loop}</li>
        		<li class="idstrnews{if($type['tid']==35)} on{/if}">{loop table="classtype" tid="35"}<a href="{$v['url']}" style="color:#000000"></a>Trade news{/loop}</li>
        		<li class="cmpnnews{if($type['tid']==36)} on{/if}">{loop table="classtype" tid="36"}<a href="{$v['url']}" style="color:#000000"></a>Enterprise News{/loop}</li>
        	</ul>-->
        	<div class="newstitle">
        		<div>
        			<ul>
				{foreach $lists as $v}	
                <li>
				<div style=" width:1000px;"><div style=" width:750px; height:30px; float:left;"><a href="{$v['url']}" target="_blank">{$v['title']}</a></div><span class="time">[{fun date('m-d',$v['addtime'])}]</span>
				  <div style="clear:both"></div>
                  <p>{$v['description']}</p></div>
                </li>
				{/foreach}
              </ul>
              <div class="pages">
                <ul>
                 {$pages}
                </ul>
              </div>
        		</div>
        	</div>
        </div>
	  </div>
</div>

{include="bottom.html"}
</body>
</html>
