<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
<script>
var _width = parseInt(window.screen.width);
var scale = _width/640;
var ua = navigator.userAgent.toLowerCase();
var result = /android (\d+\.\d+)/.exec(ua);
if (result){
var version = parseFloat(result[1]);
if(version>2.3){
document.write('<meta name="viewport" content="width=640, minimum-scale = '+scale+', maximum-scale = '+scale+', target-densitydpi=device-dpi">');
}else{
document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
}
} else {
document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
}
</script>
<title>{$Think.lang.Information}</title>

<link rel="stylesheet" href="__PUBLIC__/wap/css/css_wap2.css" >
<link rel="stylesheet" href="__PUBLIC__/resource/common/js/validform/style.css" >
<link rel="shortcut icon" href="__PUBLIC__/resource/common/images/favicon.ico" type="image/x-icon" />
</head>

<body>
<!--header-->
<include file="Public:header" />
<!--end header-->
<div class="jumppage" style="display:none;">
<div class="t_1">提示信息</div>
<div class="tx1">保存成功。</div>
<div class="btn1">确&#12288;&#12288;定</div>
</div>

<include file="Public:top" />

<div class="con_index">
	<div class="mainpage">
        <div class="chengyuan_con">
        	
            <include file="Public:menu" />
            
            <div class="tb1">
            	<div class="title1">{$Think.lang.Information}</div>
            	<form method="post" action="__APP__/User/accountsave/" enctype="multipart/form-data" class="formuser" id="edituser">
                <div class="tb2">
                    <div class="t_">{$Think.lang.User}：</div>
                    <input type="text" class="inp1" style="" name="wUseID" value="{$wUseID}" tabindex="1" size="25" disabled> 
                </div>
            
                <div class="tb2">
                    <div class="t_">{$Think.lang.U_Mobile}：</div>
                    <div class="s_1 Validform_checktip"></div>
                    <input type="text" class="inp1" datatype="n5-16" sucmsg="{$Think.lang.Crepass}"  errormsg="{$Think.lang.Cmobile_e}" nullmsg="{$Think.lang.Cmobile_n}" name="wMB" value="{$wMB}" tabindex="1" maxlength="16">
                </div>
            
                <div class="tb2">
                    <div class="t_">{$Think.lang.Name}：</div>
                    <div class="s_2 Validform_checktip"></div>
                    <input type="text" class="inp1" datatype="zh1-16" sucmsg="{$Think.lang.Crepass}"  errormsg="{$Think.lang.Cname_e}" nullmsg="{$Think.lang.Cname_n}" name="wName" value="{$wName}" tabindex="1" maxlength="16">
                </div>
            
            	<input type="submit" class="btn3"  value="{$Think.lang.Save}">
            	</form>
            </div>
        
        </div>
	</div>
</div>

<!--footer-->
<include file="Public:footer" />
<script language="JavaScript"> 
$(document).ready(function() {
   $('#edituser input').keyup(trimkeyup);
});
function trimkeyup(e) {
    lucene_objInput = $(this);
    if (e.keyCode != 38 && e.keyCode != 40 && e.keyCode != 13) {
        var im = $.trim(lucene_objInput.val());
        lucene_objInput.val(im); 
    }
}
</script>
<!--<script src="__PUBLIC__/resource/common/js/Validform.js"></script>-->
<script type="text/javascript">
$(function(){
var demo=$(".formuser").Validform({
		tiptype:3,
		label:".m_label",
		showAllError:false,
		datatype:{
			"zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2da-zA-Z]{1,16}$/,
		},
		ajaxPost:false
	});
})
</script>
<!--end footer--> 
</body>
</html>