<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
<script>
var _width = parseInt(window.screen.width);
var scale = _width/640;
var ua = navigator.userAgent.toLowerCase();
var result = /android (\d+\.\d+)/.exec(ua);
if (result){
var version = parseFloat(result[1]);
if(version>2.3){
document.write('<meta name="viewport" content="width=640, minimum-scale = '+scale+', maximum-scale = '+scale+', target-densitydpi=device-dpi">');
}else{
document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
}
} else {
document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
}
</script>
<title>{$Think.lang.Edit_equipment}</title>

<link rel="stylesheet" href="__PUBLIC__/wap/css/css_wap2.css" >
<link rel="stylesheet" href="__PUBLIC__/resource/common/js/validform/style.css" >
<link rel="shortcut icon" href="__PUBLIC__/resource/common/images/favicon.ico" type="image/x-icon" />
</head>

<body>
<!--header-->
<include file="Public:header" />
<!--end header-->
<div class="jumppage" style="display:none;">
<div class="t_1">提示信息</div>
<div class="tx1">保存成功。</div>
<div class="btn1">确&#12288;&#12288;定</div>
</div>


<include file="Public:top" />

<div class="con_index">
    <div class="mainpage">
    	<div class="chengyuan_con">
        	
        	<include file="Public:menu" />
        	
            <div class="tb1">
                <div class="title1">{$Think.lang.Edit_equipment}</div>
                <form method="post" action="__APP__/Mobile/update/id/{$mobile.Pid}" enctype="multipart/form-data" class="Machineryfrom">
                <div class="tb2">
                    <div class="t_">{$Think.lang.Equipment_position}：</div>
                    <div class="s_1 Validform_checktip"></div>
                    <input type="text" class="inp1" datatype="*1-30" nullmsg="{$Think.lang.Equipment_position_n}" sucmsg="{$Think.lang.Crepass}" name="McName" value="{$mobile.McName}" tabindex="1" maxlength="30">
                </div>
            
            	<div class="line1"></div>
            
                <div class="tb2">
                    <div class="t_">{$Think.lang.Sms_notification}</div>
                    
                    <div class="fr Jq_tx2" id="Jq_tx">
						<!--<b class="hx_btn <if condition="$mobile['IsMsg'] eq 1">hx_btn_a</if>"></b>-->
                        
                        <div id="JQ_n" class="dx_btn <if condition="$mobile['IsMsg'] eq 0">dx_btn_a</if>">{$Think.lang.No}</div>
						<div id="JQ_y" class="dx_btn <if condition="$mobile['IsMsg'] eq 1">dx_btn_a</if>">{$Think.lang.Yes}</div>
                        
                    	<input type="checkbox" name="IsMsgs" id="IsMsgs" class="none"  value="{$mobile['IsMsg']}" />
                        <input type="hidden" name="IsMsg" id="IsMsg" value="{$mobile['IsMsg']}" >
                    </div>
                    
                </div>
            
            	<div class="line1"></div>
            
            	<div class="tb2">
                	<div class="t_">{$Think.lang.Linkage_opening}：</div>
                    <div class="s_1" style="color:#6eb805">{$Think.lang.Main_opening}</div>
                    <div class="box1">
                    	
                        <div>
                        	<volist name="myMobile" id="vo" key="k1">
                                <label class="Jq_r Jq_m{$k1}" id="radio{$k1}">
                                    <b class="btn4
                                    <foreach name="mLinkOn" item="vt">
                            			<eq name="vt" value="$vo.Pid">btn4_a</eq>
                            		</foreach> 
                                	 ">{$vo.McName}</b>
                                </label>
                            </volist>
                        </div>
                        
                        <div class="none">
                        	<volist name="myMobile" id="vo" key="k2">
                        		<input type="checkbox" name="LinkOn[]" id="input{$k2}" <foreach name="mLinkOn" item="vt">
                            		<eq name="vt" value="$vo.Pid">checked</eq>
                            	</foreach> 
                                value="{$vo.Pid}" class="px">
                            	&nbsp;{$vo.McName}&nbsp;
                        	</volist>
                        </div>
                    
                    </div>
            	</div>
            
            	<div class="line1"></div>
            	
                <div class="tb2">
                    <div class="t_">{$Think.lang.Linkage}：</div>
                    <div class="s_1" style="color:#6eb805">{$Think.lang.Master_Guan}</div>
                    <div class="box1">
                    
                    	
                        <div>
                            <volist name="myMobile" id="vo" key="k1">
                                <label class="Jq_r1 Jq_m1_{$k1}" id="radio1_{$k1}">
                                    <b class="btn4
                                    <foreach name="mLinkOff" item="vt">
                            			<eq name="vt" value="$vo.Pid">btn4_a</eq>
                            		</foreach> 
                                	 ">{$vo.McName}</b>
                                </label>
                            </volist>
                        </div>
                        <div class="none">
                        	<volist name="myMobile" id="vo" key="k2">
                        		<input type="checkbox" name="LinkOff[]" id="input1_{$k2}" <foreach name="mLinkOff" item="vt">
                            		<eq name="vt" value="$vo.Pid">checked</eq>
                            	</foreach> 
                                value="{$vo.Pid}" class="px">
                            	&nbsp;{$vo.McName}&nbsp;
                        	</volist>
                        </div>
                        
                    	
                        
                    </div>
                </div>
            
            	<div class="line1"></div>
            
                <div class="tb2">
                    <div class="t_">{$Think.lang.Anti_linkage}：</div>
                    <div class="s_1" style="color:#6eb805">{$Think.lang.Main_opening2}</div>
                    <div class="box1">
                    
                    	<div>
                            <volist name="myMobile" id="vo" key="k1">
                                <label class="Jq_r2 Jq_m2_{$k1}" id="radio2_{$k1}">
                                    <b class="btn4
                                    <foreach name="mLinkOn_Off" item="vt">
                            			<eq name="vt" value="$vo.Pid">btn4_a</eq>
                            		</foreach> 
                                	 ">{$vo.McName}</b>
                                </label>
                            </volist>
                        </div>
                        <div class="none">
                        	<volist name="myMobile" id="vo" key="k2">
                        		<input type="checkbox" name="LinkOn_Off[]" id="input2_{$k2}" <foreach name="mLinkOn_Off" item="vt">
                            		<eq name="vt" value="$vo.Pid">checked</eq>
                            	</foreach> 
                                value="{$vo.Pid}" class="px">
                            	&nbsp;{$vo.McName}&nbsp;
                        	</volist>
                        </div>
                    	
                        
                    </div>
                </div>
            
            	<div class="line1"></div>
            
                <div class="tb2">
                    <div class="t_">{$Think.lang.Anti_linkage2}：</div>
                    <div class="s_1" style="color:#6eb805">{$Think.lang.Main_opening3}</div>
                    <div class="box1">
                        
                        <div>
                            <volist name="myMobile" id="vo" key="k1">
                                <label class="Jq_r3 Jq_m3_{$k1}" id="radio3_{$k1}">
                                    <b class="btn4
                                    <foreach name="mLinkOff_On" item="vt">
                            			<eq name="vt" value="$vo.Pid">btn4_a</eq>
                            		</foreach> 
                                	 ">{$vo.McName}</b>
                                </label>
                            </volist>
                        </div>
                        <div class="none">
                        	<volist name="myMobile" id="vo" key="k2">
                        		<input type="checkbox" name="LinkOff_On[]" id="input3_{$k2}" <foreach name="mLinkOff_On" item="vt">
                            		<eq name="vt" value="$vo.Pid">checked</eq>
                            	</foreach> 
                                value="{$vo.Pid}" class="px">
                            	&nbsp;{$vo.McName}&nbsp;
                        	</volist>
                        </div>
                        
                    </div>
                </div>
            
            	
                <input type="submit" class="btn3"  value="{$Think.lang.Save}">
                
            	<input type="hidden" name="wMB" value="{$User.wMB}">
          		</form>
            </div>
        </div>
    </div>
</div>

<!--end main--> 
<!--footer-->
<include file="Public:footer" />
<script language="javascript">
$(document).ready(function(){
	$("#IsAllOpens").click(function(){ 
		 $("#IsAllCloses").attr('checked',false);
		 $(this).attr('checked',true);
	});
	$("#IsAllCloses").click(function(){ 
		 $("#IsAllOpens").attr('checked',false);
		 $(this).attr('checked',true);
	});
});
function aa(){
	
	//设置是否发送短信
    /*var r=document.getElementById("IsMsgs");
	if(r.checked){
	
		document.getElementById("IsMsg").value=1;
	
	}else{
		document.getElementById("IsMsg").value=0;
	
	}*/
	var m= document.getElementById("IsAllOpens");
         if(m.checked){
        // r.value=1;
		document.getElementById("IsAllOpen").value=1;
		document.getElementById("IsAllClose").value=0;
		 //alert(m.value);
       }else{
	  document.getElementById("IsAllOpen").value=0;
	  document.getElementById("IsAllClose").value=1;
	  // alert(r.value);
	   }
	var k= document.getElementById("IsAllCloses");
         if(k.checked){
        // r.value=1;
		document.getElementById("IsAllClose").value=1;
		document.getElementById("IsAllOpen").value=0;
		 //alert(r.value);
       }else{
	  document.getElementById("IsAllClose").value=0;
	  document.getElementById("IsAllOpen").value=1;
	  // alert(r.value);
	   }
}
</script>
<script src="__PUBLIC__/resource/common/js/Validform.js"></script>
<script type="text/javascript">
$(function(){
	var demo=$(".Machineryfrom").Validform({
		tiptype:3,
		showAllError:false,
		datatype:{
			"zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/,
			"ip":/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
		},
		ajaxPost:false
	});
})

$(document).ready(function(){
	//Jq_tx();
		
	var ob1 = $('.Jq_r');
	for(var i = 1; i < ob1.length+1; i++){
		if($('.Jq_m'+i).find('b').hasClass('btn4_a')){
			r_bl('.Jq_m'+i,'#input'+i,'#radio'+i);
		}else{
			f_bl('.Jq_m'+i,'#input'+i,'#radio'+i);	
		};
	}
	
	var ob2 = $('.Jq_r1');
	for(var i = 1; i < ob2.length+1; i++){
		if($('.Jq_m1_'+i).find('b').hasClass('btn4_a')){
			r_bl('.Jq_m1_'+i,'#input1_'+i,'#radio1_'+i);
		}else{
			f_bl('.Jq_m1_'+i,'#input1_'+i,'#radio1_'+i);	
		};
	}
	
	var ob3 = $('.Jq_r2');
	for(var i = 1; i < ob3.length+1; i++){
		if($('.Jq_m2_'+i).find('b').hasClass('btn4_a')){
			r_bl('.Jq_m2_'+i,'#input2_'+i,'#radio2_'+i);
		}else{
			f_bl('.Jq_m2_'+i,'#input2_'+i,'#radio2_'+i);	
		};
	}
	
	var ob4 = $('.Jq_r3');
	for(var i = 1; i < ob4.length+1; i++){
		if($('.Jq_m3_'+i).find('b').hasClass('btn4_a')){
			r_bl('.Jq_m3_'+i,'#input3_'+i,'#radio3_'+i);
		}else{
			f_bl('.Jq_m3_'+i,'#input3_'+i,'#radio3_'+i);	
		};
	}
		
});

//正向
function f_bl(obj1,obj2,obj3){
	$(obj1).on("click",function(){
			
			$(obj1).find('b').addClass('btn4_a');
			$(obj2).prop("checked",true);
			$(obj1).off("click");
			
			$(obj3).on("click",function(){
				$(obj3).find('b').removeClass('btn4_a');
				$(obj2).prop("checked",false);
				$(obj3).off("click");
				f_bl(obj1,obj2,obj3);
			});	
	});
}

function r_bl(obj1,obj2,obj3){
	$(obj1).on("click",function(){
			
			$(obj3).find('b').removeClass('btn4_a');
			$(obj2).prop("checked",false);
			$(obj1).off("click");
			
			$(obj3).on("click",function(){
				$(obj1).find('b').addClass('btn4_a');
				$(obj2).prop("checked",true);
				$(obj3).off("click");
				r_bl(obj1,obj2,obj3);
			});	
	});
}

$('#JQ_y').on("click",function(){
	$('#JQ_y').addClass('dx_btn_a');
	$('#JQ_n').removeClass('dx_btn_a');
	$('#IsMsg').attr("value",1);
});

$('#JQ_n').on("click",function(){
	$('#JQ_n').addClass('dx_btn_a');
	$('#JQ_y').removeClass('dx_btn_a');
	$('#IsMsg').attr("value",0);
});


/*function Jq_tx(){
	if($('#Jq_tx').find('b').hasClass('hx_btn_a')){
		 
		 $('#Jq_tx').on("click",function(){
		
			$('#Jq_tx').find('b').removeClass('hx_btn_a');
			$('#IsMsg').attr("value",0);
			$('#Jq_tx').off("click");
			
			$('.Jq_tx2').on("click",function(){
				$('.Jq_tx2').find('b').addClass('hx_btn_a');
				$('#IsMsg').attr("value",1);
				$('.Jq_tx2').off("click");
				Jq_tx();
			});	
		});	
		
		
	}else{
		
		$('#Jq_tx').on("click",function(){
		
			$('#Jq_tx').find('b').addClass('hx_btn_a');
			$('#IsMsg').attr("value",1);
			$('#Jq_tx').off("click");
			
			$('.Jq_tx2').on("click",function(){
				$('.Jq_tx2').find('b').removeClass('hx_btn_a');
				$('#IsMsg').attr("value",0);
				$('.Jq_tx2').off("click");
				Jq_tx();
			});	
		});	
	}
	
	
	
}*/
</script>
<!--end footer--> 
</body>
</html>