<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
<script>
var _width = parseInt(window.screen.width);
var scale = _width/640;
var ua = navigator.userAgent.toLowerCase();
var result = /android (\d+\.\d+)/.exec(ua);
if (result){
var version = parseFloat(result[1]);
if(version>2.3){
document.write('<meta name="viewport" content="width=640, minimum-scale = '+scale+', maximum-scale = '+scale+', target-densitydpi=device-dpi">');
}else{
document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
}
} else {
document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
}
</script>
<title>{$Think.lang.UserMobile}</title>
<link rel="stylesheet" href="__PUBLIC__/wap/css/css_wap2.css" >
<link rel="shortcut icon" href="__PUBLIC__/resource/common/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<!--header-->
<include file="Public:header" />
<!--end header--> 
<div class="jumppage" style="display:none;">
    <div class="t_1">{$Think.lang.Box_name}</div>
    <div class="tx1"></div>
    <input type="button" class="btn2" id="Jq_sure" value="{$Think.lang.Sure}">
	<input type="button" class="btn3" id="Jq_no" value="{$Think.lang.Cancel}">
</div>

<include file="Public:top" />

<!--main-->
<div class="con_index">
	<div class="mainpage">
        <div class="chengyuan_con">
        	<include file="Public:menu" />
            
            <div class="tb1">
            	<div class="title">{$Think.lang.UserMobile}</div>
                
                <div class="c1">
                	<div class="txu1">{$Think.lang.LicensedUser}</div>
                	<div class="txu2">{$Think.lang.Equipment}</div>
					<div class="txu1">{$Think.lang.OneDelete}</div>
					<div class="txu2">{$Think.lang.AllDelete}</div>
                </div>
                
                <volist name="UserMobile" id="vo" key="k">
                <div class="c{$k%2+2}">
                    <div class="txtuser">{$vo.wName}</div>
					<div class="txtuserl">{$vo.McName}</div>
                    <div class="txtuser">
                        <a class="btn2" href="javascript:Jq_del('{$vo.Pid}')">{$Think.lang.Delete}</a>
                    </div>
					<div class="txtuser">
                        <a class="btn2" href="javascript:Jq_del2('{$vo.wUseID}')">{$Think.lang.Delete}</a>
                    </div>
                </div>
                </volist>
            </div>
            
        </div>
	</div>
</div>

<!--end main--> 
<!--footer-->
<include file="Public:footer" />
<script type="text/javascript">
	function Jq_del(Pid){
		$('.jumppage > .tx1').html('{$Think.lang.Confirm_delete}');
		$('.jumppage_bg, .jumppage').show();
		$('#Jq_sure').click(function(){
			var url = "__URL__/delusermobile/Pid/"+Pid;
			window.location.href = url;			
			$(this).attr("disabled","disabled");
		});
	};
	function Jq_del2(wUseID){
		$('.jumppage > .tx1').html('{$Think.lang.Confirm_delete}');
		$('.jumppage_bg, .jumppage').show();
		$('#Jq_sure').click(function(){
			var url = "__URL__/delall/wUseID/"+wUseID;
			window.location.href = url;			
			$(this).attr("disabled","disabled");
		});
	};

	$('#Jq_no').click(function(){
		$('.jumppage_bg, .jumppage').hide();	
	});
	
</script>
<!--end footer--> 
</body>
</html>