@charset "utf-8";
/*基本样式*/

/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, legend, input, textarea, p, th, td {margin: 0;padding: 0}
a, input, button, select, textarea {outline: 0}
img {border: 0;vertical-align: middle}
em {font-style: normal}
textarea {resize: none}
ol, ul {list-style: none}
table{ border-collapse:collapse}
/*common*/
body {font: 14px/1.8 \5FAE\8F6F\96C5\9ED1, Helvetica, Arial, sans-serif; color:#333; width:100%;}
h1, h2, h3, h4, h5 {font-size: 16px; font-weight:normal; color:#333}
input, label, select {vertical-align: middle;font: 100% \5FAE\8F6F\96C5\9ED1, Helvetica, Arial, sans-serif;}
.clearfix:before, .clearfix:after {content: ".";display: table;height: 0;font-size: 0;line-height: 0;visibility: hidden}
.clearfix:after {clear: both}
.clearfix {*zoom:1}
a {text-decoration: none;color:#069cf3;}
a:hover {text-decoration: underline}
.fl {float: left;_display:inline}
.fr {float: right;_display:inline}

.inner{ width:100%; margin:0 auto}
.greytxt{ color:#666}
h1{ font-size:20px; border-bottom:2px solid #29a7ff}

/*header*/
.header{ background:url("../images/header_bg.png") repeat-x #2d2d2d;padding:10px 0 8px; position:relative; z-index:9; height:81px;}
.h_l{ width:162px;}
.h_r{ width:124px; text-align:right}
.top_nav{ font-size:12px; margin-top:16px;}
.top_nav,.top_nav a{ color:#ccc}
.top_nav a{ padding:0 15px;}
.top_nav a:hover{color:#fff;}
.top_btn_blue{ background:url("../images/top_btn_blue.png") no-repeat #1cacff; width:124px; height:42px; border:0 none; color:#fff; font-size:16px; cursor:pointer; line-height:42px;}
.h_triangle{ display:inline-block; vertical-align:middle; height:0px; width:0px; border-width:5px; border-color:#1C97D8 transparent transparent transparent; border-style:solid dashed dashed dashed; line-height:0px;}
.top_nav .h_quit,.top_nav .h_quit:hover{ color:#ff7505}
.top_nav .h_nickname{ padding-left:2px; color:#fff}
#h_leave_a{ position:absolute;right:53px; top:-1px; background:#393939; padding:0 4px; border:1px solid #000; text-align:left}
#h_leave_a li{ border-top:1px solid #000}
#h_leave_a a{ padding:0}

.main_nav{ clear:both; font-size:15px; line-height:2; margin-top:22px; margin-right:-27px;_display:inline;zoom:1; position:relative; display:inline-block; *display:inline;*zoom:1}
.main_nav li{ float:left; margin:0 1px }
.main_nav a{ display:block; padding:0 25px;color:#fff}
.main_nav a:hover,.main_nav_curr{ background:#1c97d8}
.main_nav a:hover{ text-decoration:none; }

/*footer*/
.footer{ text-align:center; color:#848485; background:url("../images/footer_bg.png") repeat-x #2d2d2d; line-height:1.5; padding:5px 0 10px }
.footer a{color:#848485; }
.footer a:hover{ color:#ddd;}
.footer_nav li{ display:inline; padding:0 10px}

/*内容区*/
.p_com{ padding:20px 0;min-height:650px;_height:650px}

/*表单*/
.m_form_row{ margin:15px 0}
.m_label{ display:inline-block; vertical-align:middle;text-align:right}
.m_input,textarea{ border:1px solid #ccc; border-radius:4px}
.m_input{ padding:0 5px; height:30px; line-height:30px; width:200px;font-size:50;}
textarea{ padding:5px; line-height:1.5}
.vertify_code { cursor: pointer; border: 1px solid #ddd; }/*验证码*/

/**/
.m_title { border-left: 3px solid #1c97d8; color: #0f81bd; background: #d9f1fd; display: inline-block; padding: 0 40px; font-size: 15px; margin: 20px 0 10px; }

.m_table th, .m_table td { padding: 4px }
.m_table th { font-weight: normal; font-size: 15px; background: #009CDD; color:#fff}
.m_table td { border-left: 1px solid #A6DAF5; border-right: 1px solid #A6DAF5; color: #555 }
.m_table .even { background: #E6F5FE }
.m_box { border: 1px solid #e3e8eb; margin-top: 25px }
.m_box_title { background: #eff4f7; font-size: 18px; padding-left: 15px; line-height:2.2; padding-bottom:2px }
.m_box_con { padding: 10px 15px }

.m_btn_blue, .m_btn_grey, .m_btn_orange { width: 130px; height: 38px; line-height: 38px; display: inline-block; color: #fff; border: none; text-align: center; font-size: 16px; cursor:pointer }
a.m_btn_blue, a.m_btn_grey, a.m_btn_orange { color: #fff; text-decoration: none }
a.m_btn_grey, .m_btn_grey { color: #aaa }
.m_btn_blue { background: url("../images/m_btn_blue.png") no-repeat }
.m_btn_grey { background: url("../images/m_btn_grey.png") no-repeat }
.m_btn_orange { background: url("../images/m_btn_orange.png") no-repeat }

.m_btn_blue_s{ width: 119px; height: 33px; line-height: 33px; display: inline-block; color: #fff; border:0 none; text-align: center; font-size: 14px;background: url("../images/m_btn_blue_s.jpg") no-repeat;cursor:pointer }
.m_btn_blue_l{ background:url("../images/m_btn_blue_l.png") no-repeat #1cacff; width:184px; height:42px; border:0 none; color:#fff; font-size:20px; cursor:pointer}
.m_btn_orange_l{background:url("../images/m_btn_orange_l.png") no-repeat #fa9001; width:186px; height:48px; line-height:48px; text-align:center; color:#fff; font-size:20px; display:inline-block;cursor:pointer;border:0 none;}
a.m_btn_blue_s,a.m_btn_blue_l,a.m_btn_orange_l{ color: #fff; text-decoration: none }

.page_nav { text-align: center; margin: 40px 0 }
.page_nav a { padding: 0 10px }




