<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include="head.html"}
	 <link rel="stylesheet" href="skin/css/index.css">
	 <script src="skin/js/index.js"></script>
</head>
<body>
{include="nav_index.html"}

<div class="video">
    <div class="container">
    <div class="box">
         <video id="media0" controls  width="860px" height="485px" poster="skin/img/video1.png">
          <source src="box/pc_video.MP4" type="video/mp4">
          <source src="box/pc_video.webm" type="video/webm">
            Your browser does not support the video tag.
         </video>
     </div>  
    </div>
</div>
<div class="index-about">
    <div class="container">
       <div class="head">
        <h2>关于我们</h2>
		<h3><img src="/skin/img/Abouts us.png"></h3>
       </div>
       <div class="index-about-content">
        <p>走进比尔盖茨的豪宅，你会领到一枚特制的胸针，里面的芯片会自动感应到你喜欢的温度、湿度、灯光、音乐、画作……并将这些个性化资料存储其中。当你走进一个房间，中央电脑会立即探测到胸针中的信息并把房间的温度、湿度和亮度调整到让你感觉最舒适的程度，同时会传来优美的旋律，墙上也会出现你喜欢的画作。</p>
        <p>在卫生间，还安装有电脑系统控制、随时可以检测人身体状况的马桶。如果发现主人身体有异常，电脑会即刻发出警报。</p>
        <p>这就是比尔盖茨的智能住宅，科技概念无处不在，即使是盖茨私宅中唯一带有传统色彩的一棵百年老树，也是用先进的传感器对它进行浇水。</p>
        <p>这样的智能家居是不是让你惊叹但又觉得遥不可及呢？</p>
        <p>如今，智能家居的时代已经到来，即便是平凡人也能享受智能家居给我们的生活带来的便捷。瓯宝秉承着"以用户为核心"的理念，多年来一直致力于高科技产品的研发，我们的每一款产品、每一个解决方案，都将创新科技与人文关怀相结合，帮助用户简化生活的繁琐。让用户站在智慧与时尚的前沿，感受智能家居带来的高雅舒适与温馨浪漫。</p>
        <p>人性化的应用下载，只要轻轻一点，便可体验瓯宝智能家居的神奇与美妙。</p>
		<!--<div class="smart-home">-->
			<p>Smart Home以贴心，带您享受温馨生活。</p>
			<p>Smart Home以智能，带您感受时尚生活。</p>
			<p>Smart Home以专业，带您领受品质生活。</p>
		<!--</div>-->
      </div>
    </div>
</div>
{include="footer.html"}
</body>
</html>