<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$Think.lang.Find_pw}</title>
<link rel="stylesheet" href="__PUBLIC__/resource/common/css/base.css" >
<link rel="stylesheet" href="__PUBLIC__/resource/common/css/user.css">
<link rel="stylesheet" href="__PUBLIC__/resource/common/js/validform/style.css" >
<link rel="shortcut icon" href="__PUBLIC__/resource/common/images/favicon.ico" type="image/x-icon" />
<script src="__PUBLIC__/resource/common/js/jquery.js"></script>
</head>

<body>
<!--header-->
<include file="Public:header" />
<!--end header--> 
<!--main-->

<div class="user_wrap">
  <div class="user_con">
    <div class="user_box clearfix" id="pw_wrap">
      <div class="pw_pathway"><a href="__APP__/Lostpassword/" >{$Think.lang.Find_pw}</a> > {$Think.lang.Ename} </div>
      <ul class="pw_nav">
        <li class="pw_nav_1_a">{$Think.lang.Ename}</li>
        <li class="pw_nav_2">{$Think.lang.Identity}</li>
        <li class="pw_nav_3">{$Think.lang.Re_pw}</li>
        <li class="pw_nav_4">{$Think.lang.Complete}</li>
      </ul>
      <!--第1步-->
      <div class="pw_step1">
        <form class="pw_form" action="__APP__/Lostpassword/mobile/" method="post">
          <div class="pw_form_row">
            <label class="pw_label">{$Think.lang.Username}：</label>
            <input type="text" class="pw_text"  id="wUseID" name="wUseID" ajaxurl="__URL__/CheckMobile/" datatype="s3-16" maxlength="16" sucmsg="{$Think.lang.Crepass}"  errormsg="{$Think.lang.Y_user_e}" nullmsg="{$Think.lang.Y_user_n}" >
          </div>
          <div>
            <input type="submit" value="{$Think.lang.Next}"   class="m_btn_blue_s">
            <span class="valid_tip"></span> </div>
        </form>
        <p class="pw_tips"> {$Think.lang.Warmt}：<br>
          {$Think.lang.NSensitive}<br><br>
          </p>
      </div>
      
    </div>
  </div>
</div>
<div class="clear-none"></div>
<script src="__PUBLIC__/resource/common/js/Validform.js"></script>
<script type="text/javascript">
$(function(){
var demo=$(".pw_form").Validform({
		tiptype:3,
		label:".label",
		showAllError:false,
		datatype:{
			"zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
		},
		//beforeSubmit:do_encrypt,
		ajaxPost:false
	});
	demo.tipmsg.c = "{$Think.lang.Cmobile_check}";
})
</script>
<!--end main--> 
<!--footer-->
<include file="Public:footer" />
<!--end footer--> 
</body>
</html>
