<div class="menu">
    <div class="btn0 {$my1}"><a href="__APP__/User/">{$Think.lang.Member}</a></div>
    <div class="btn0 {$my2}"><a href="__APP__/User/add/">{$Think.lang.Add_member}</a></div>
    <div class="btn0 {$my3}"><a href="__APP__/Mobile/">{$Think.lang.Equipment}</a></div>
    <div class="btn0 {$my4}"><a href="__APP__/Type/">{$Think.lang.Model}</a></div>
    <div class="btn0 {$my5}"><a href="__APP__/Type/add/">{$Think.lang.Add_model}</a></div>
    <div class="btn0 {$my6}"><a href="__APP__/Time/">{$Think.lang.Time}</a></div>
    <div class="btn0 {$my7}"><a href="__APP__/Time/add/">{$Think.lang.Add_time}</a></div>
    <div class="btn0 {$my8}"><a href="__APP__/User/useredit/">{$Think.lang.Information}</a></div>
    <div class="btn0 {$my9}"><a href="__APP__/User/pwd/">{$Think.lang.Change_password}</a></div>
	<div class="btn0 {$my11}"><a href="__APP__/Mobile/usermobile/">{$Think.lang.UserMobile}</a></div>
    <div class="btn0 {$my10}"><a href="__APP__/User/out/">{$Think.lang.Exit}</a></div>
</div>